<section id="Team" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Our Team</h2>
                <div class="members">
                    <ul>
                        <li>
                            <div id="member1"><a href="#"><span>name</span></a></div>
                        </li>
                        <li>
                            <div id="member2"><a href="#"><span>name</span</a></div>
                        </li>
                        <li>
                            <div id="member3"><a href="#"><span>name</span</a></div>
                        </li>
                        <li>
                            <div id="member4"><a href="#"><span>name</span</a></div>
                        </li>
                        <li>
                            <div id="member5"><a href="#"><span>name</span</a></div>
                        </li>
                    </ul>
                </div>


                

               <!--  <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/+Startbootstrap/posts" class="btn btn-default btn-lg"><i class="fa fa-google-plus fa-fw"></i> <span class="network-name">Google+</span></a>
                    </li>
                </ul> -->
            </div>
        </div>
    </section>
