<html>

  <head>
    <title>Datalore</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
  </head>
  <body>
  <div class="container">
  <ul class="nav nav-pills">
	  <li role="presentation" class="active"><a href="#">Datalore Hackathon</a></li>
	  <li role="presentation"><a href="#">Profile</a></li>
	  <li role="presentation"><a href="#">Messages</a></li>
	</ul>
    <div class="row" id="chart_1"></div>
  </div>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="http://d3js.org/d3.hive.v0.min.js"></script>
    <script src="static/js/mainviz.js"></script>
  </body>
</html>